[user]
	email = hojdyx@gmail.com
	name = hojdy
[add]
	email = hojdyx@gmail.com
[alias]
  a = add
  aa = add --all
  amend = commit --amend
  b = branch
  bb = branch -a
  bd = branch -d
  cherry-pit = "!f() { git rebase -p --onto \"$1\"^ \"$1\"; }; f"
  cm = commit -m
  co = checkout
  d = diff
  ec = config --global -e
  go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"
  l = log --relative-date --graph --abbrev-commit -10
  ll = log --relative-date --graph --abbrev-commit
  p = push
  remotes = remote -v
  s = status -s
  sd = d --cached
  sh = show
